<mat-card class="card-class">
    <mat-card-header>
      <mat-card-title>Nihira Techiees </mat-card-title>
      <mat-card-subtitle> Angular 18 Material UI</mat-card-subtitle>
    </mat-card-header>
    <img src="https://www.liblogo.com/img-logo/an271a55f-angular-logo-angular-logo-transparent-png-stickpng.png" alt="">
    <mat-card-content>
      <p style="text-align: justify;">
        Embark on a journey into the mysteries of the natural world with our science courses. Physics unravels the secrets of the universe, chemistry explores atoms and chemical reactions, while biology delves into life's intricate web. Yet, studying science isn't just about gazing at the stars, mixing chemicals, or dissecting organisms
      </p>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Nihira Techiees </mat-card-title>
    <mat-card-subtitle> Angular 18 Material UI</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-sm-image src="https://www.liblogo.com/img-logo/an271a55f-angular-logo-angular-logo-transparent-png-stickpng.png" alt="">
  <mat-card-content>
    <p style="text-align: justify;">
      Embark on a journey into the mysteries of the natural world with our science courses. Physics unravels the secrets of the universe, chemistry explores atoms and chemical reactions, while biology delves into life's intricate web. Yet, studying science isn't just about gazing at the stars, mixing chemicals, or dissecting organisms
    </p>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Nihira Techiees </mat-card-title>
    <mat-card-subtitle> Angular 18 Material UI</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-md-image src="https://www.liblogo.com/img-logo/an271a55f-angular-logo-angular-logo-transparent-png-stickpng.png" alt="">
  <mat-card-content>
    <p style="text-align: justify;">
      Embark on a journey into the mysteries of the natural world with our science courses. Physics unravels the secrets of the universe, chemistry explores atoms and chemical reactions, while biology delves into life's intricate web. Yet, studying science isn't just about gazing at the stars, mixing chemicals, or dissecting organisms
    </p>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Nihira Techiees </mat-card-title>
    <mat-card-subtitle> Angular 18 Material UI</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-lg-image src="https://www.liblogo.com/img-logo/an271a55f-angular-logo-angular-logo-transparent-png-stickpng.png" alt="">
  <mat-card-content>
    <p style="text-align: justify;">
      Embark on a journey into the mysteries of the natural world with our science courses. Physics unravels the secrets of the universe, chemistry explores atoms and chemical reactions, while biology delves into life's intricate web. Yet, studying science isn't just about gazing at the stars, mixing chemicals, or dissecting organisms
    </p>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

